/* ---------------- // Global Styles // --------------------- */

img {
    width: 100%;
}

.g__headerSection {
    border-bottom: 1px solid rgba(0,0,0,.04);
    padding: 2rem 2.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
    position: sticky;
    top: 0;
    z-index: 4;
    background-color: white;
}

.g__header {
    font-size: 19px;
    font-weight: 600;
}

.g__leftSide-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    box-shadow: 0 0 0 1px rgba(2,2,12,.042), 0 2px 4px -2px rgba(2,2,12,.1);
}

.g__querySearch-section{
    padding: 1.5rem 2.5rem;
}

.g__searchHeader {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #1c1b1bfc;
    margin-bottom: 10px;
}

.g__searchQuery__input {
    width: 90%;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(2,2,12,.042), 0 2px 4px -2px rgba(2,2,12,.1);
    transition: box-shadow .25s cubic-bezier(.19,1,.22,1);
    background-color: transparent;
    display: inline-flex;
    align-items: center;
    position: relative;
    z-index: 2;
    padding: 15px;
}

::placeholder {
    color: rgba(173, 173, 173, 0.623);

}


* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
}

.g_sectionDesign {
    border-bottom: 1px solid rgba(0,0,0,.04);
}

.g__headline {
    font-size: 20px;
    font-weight: 400;
    color: #1A0DAB;
    display: inline;
}

.g__url {
    font-size: 14px;
}

.g__description {
    font-size: 14px;
    color: #5c5c5c;
    display: inline;
    margin-right: 3px;
    line-height: 1.4rem;
    
}



/* ------------------ // Individual Styles // ---------------- */

.content-wrapper {
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


.left-side {
    border-right: 1px solid #7c7c7c24;
    /* position: fixed; */
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(2,2,12,.05), 0 2px 4px -2px rgba(2,2,12,.12);
    left: 0;
    top: 0;
    height: 100vh;
    width: 26%;
    z-index: 1;
    overflow: auto;
}


.left-side::-webkit-scrollbar {
    width: 10px;
}

.left-side::-webkit-scrollbar-track {
    background-color: darkgrey;
}

.left-side::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }


.arrow {
  border: solid #0C74FF;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.left-side__querysearch {
    padding: 2rem 2.5rem;
}

.path {
    display: flex;
    justify-content: space-between;
    padding: 0 2.5rem;
}

.queryAd__pathOne {
    padding: 1.5rem 0;
    margin-right: 15px;
}

.queryAd__pathTwo {
    padding: 1.5rem 0;
    margin-left: 15px;
} 

.pathOne__input {
    width: 80%;
}

.pathTwo__input {
    width: 80%;
}

select {
    transition: box-shadow .25s cubic-bezier(.19,1,.22,1);
    background-color: transparent;
    display: inline-flex;
    align-items: center;
    position: relative;
    z-index: 2;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(2,2,12,.042), 0 2px 4px -2px rgba(2,2,12,.1);
    /* -webkit-appearance: none */
    color: rgba(124, 124, 124, 0.863);


}

.right-side {
    z-index: 1;
    padding: 30px 60px;
    width: 74%;
}

.right-side__desktop-version {
    /* padding: 50px; */
    box-shadow: 0 0 0 1px rgba(2,2,12,.042), 0 2px 4px -2px rgba(2,2,12,.1);
    border-radius: 8px;
}

.desktop-version__header {
    display: flex;
    column-gap: 20px;
    padding: 40px 40px 0px 40px;
    border-bottom: 1px solid rgba(2,2,12,.05);

    /* flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start; */
}

.header__logo-google {
    width: 100px;
}

.header__right-side {
    width: 100%;
}



.googleStructuredSearch {
    width: 700px;
    display: flex;
    flex-direction: column;
}

.header__search-box {
    /* width: 700px; */
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.header__tabs {
    display: flex;
    padding: 30px 0px 0px 10px;
}
.tabs__item {
    display: flex;
    column-gap: 7px;
    margin: 0px 10px;
    padding-bottom: 10px;
    align-items: center;
}

.has-bottom-border {
    border-bottom: solid 3px #1A73E8;

}

.desktop-version__details {
    margin: auto;
    padding: 20px 60px 20px 185px
}

.details__result-count {
    font-size: 13px;
    margin-bottom: 25px;
}

.tabs__item span {
    font-size: 16px;
    color: #848484ed;
    /* margin-left: 10px; */
}

.tab__text {
    font-size: 15px;
    color: #363636f6;
}

.ad-header__heading {
    display: none;
    font-weight: bold;
    font-size: 15px;
    margin-right: 5px;
}

.details__ad-header {
    display: flex;
    /* gap: 5px; */
}

/* .displayUrl {
    font-size: 14px;
} */


.searchBarField {
    width: 100%;
    height: 45px;
    border-radius: 30px;
    border: 1px solid rgba(2,2,12,.07);
    background: white;
    display: grid;
    align-content: center;
}

.searchIcon {
    width: 3%;
    color: blue;
    margin-left: -45px;
}

.searchBar__input {
    display: inherit;
    padding:0 20px;
    font-size: 16px;
}

.searchTabs {
    padding: 10px 0 0 40px;
    display: flex;
    flex-direction: row;

    
}

.allSearch {
    font-size: 12px;
    display: flex;
    flex-direction: row;
}

.display__headline {
    display: flex;
    margin-top: 6px;
    margin-bottom: 8px;
}

.description {
    display: inline;
}

.snippet {
    display: inline;
}

.divider__One {
    display: none;
    font-size: 20px;
    font-weight: 400;
    color: #1A0DAB;
    margin: 0 5px;
}

.divider__Two {
    display: none;
    font-size: 20px;
    font-weight: 400;
    color: #1A0DAB;
    margin: 0 5px;
}

.url__devider__one {
    display: none;
}

.url__devider__two {
    display: none;
}


.select-colon {
    display: none;
    font-size: 14px;
    color: #5c5c5c;
    margin-right: 3px;
    line-height: 1.4rem;
}

.snippet__Five {
    font-size: 14px;
    color: #5c5c5c;
    display: inline;
    line-height: 1.4rem;

}

.snippet__comma__One {
    display: none;
} 

.snippet__comma__Two {
    display: none;
}  

.snippet__comma__Three {
    display: none;
} 

.snippet__comma__Four {
    display: none;
}

.snippet__end {
    display: none;
}


.callout__separator--one {
    display: none;
}

.callout__separator--two {
    display: none;
}

.callout__separator--three {
    display: none;
}

.callout__separator--four {
    display: none;
}

.callout__separator--five {
    display: none;
}





